.authentication{
	background:url(../../public/img/background.png) no-repeat center;
}
.form-gap {
    padding-top: 70px;
}
.forgotPassword{
    max-width:525px;
	min-height:800px;
   
   
}
.forgotPasswordAlign{
    align-content: center;
}
